.frist-banner{
    background-image: linear-gradient(
        rgba(191, 180, 172, 0.137),
        rgba(88, 84, 80, 0.39)
      ),
      url(../../img/packages-bannar.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
}

.top-promotion::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 220px;
    left: 43%;
    background-color: #e91e63;
    bottom: 4%;
}
